<div class="row">
	<div class="large-12 columns">
		<table>
		<thead>
			<tr>
			<th>
				Lawyer Name
			</th>
			<th>
				Lawyer Code

			</th>			
			<th>
				Lawyer Location(city)
			</th>			
			<th>
				Service Code
			</th>		
			<th>
				Service Name
			</th>			
			<th>
				Service Charge
			</th>				
			<th>
				Exp.
			</th>	
			<th>
				Average Rating
			</th>					
			</tr>
		</thead>
		<tbody>
		<tr>

		<td>
		    No record Found for this query
		</td>
		</tr>
		</tbody>
		</table> 
	</div>

</div>