<div class="row">
<h2>
	Search Lawyer 
</h2>
</div>
<div class="row">
	<div class="large-12 columns">
		 <div class="large-4 columns">
		 	<%= link_to "Search by City(Loation)",search_vakil_search_by_city_path,:class=>"large-12 button success"%>
		 </div>
		 <div class="large-4 columns">
		 	<%= link_to "Search by Service",search_vakil_search_by_service_path,:class=>"large-12 button success"%>
		 </div>		 
		 <div class="large-4 columns">
		 	<%= link_to "Search by City and Service",search_vakil_search_by_city_and_service_path,:class=>"large-12 button success"%>
		 </div>		 
	</div>

</div>